* {
  box-sizing: border-box;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 500px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 50px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
